.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - $footerHeight - $navHeight);
    width: 100vw;
}

.board{
    border: 1px solid black;
    height: calc(100vh - $footerHeight - $navHeight - $cellHeight);
    width: 100%;

    td{
        user-select: none;
        border: 1px solid $boardBorder;
        width: $cellWidth;
        height: $cellHeight;
        max-width: $cellWidth;
        max-height: $cellHeight;
        cursor: pointer;
        background-repeat: no-repeat;
        transition: ease-in-out background-size .25s;
        background-position: 50% 50%;
        background-size: 0% 0%;

        &:hover{
            background-image: linear-gradient($boardHover, $boardHover);
            background-size: 100% 100%;
        }
    }
}

td.wall, .wall{
    background-image: linear-gradient($cellWallColor, $cellWallColor);
    background-size: 100% 100%;
}

td.start, .start{
    background-image: linear-gradient($cellStartColor, $cellStartColor);
    background-size: 100% 100%;
}

td.end, .end{
    background-image: linear-gradient($cellEndColor, $cellEndColor);
    background-size: 100% 100%;
}

td.checkpoint, .checkpoint{
    background-image: linear-gradient($cellCheckpointColor, $cellCheckpointColor);
    background-size: 100% 100%;
    color: white;
    font-weight: bold;
    font-size: .75rem;
    text-align: center;
    line-height: $cellHeight;
}

td.path, .path{
    background-image: linear-gradient($cellPathColor, $cellPathColor);
    background-size: 100% 100%;
}

td.visited, .visited{
    background-image: linear-gradient($cellVisitedColor, $cellVisitedColor);
    background-size: 100% 100%;
}

td.visiting, .visiting{
    background-image: linear-gradient($cellVisitingColor, $cellVisitingColor);
    background-size: 100% 100%;
}
