@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

html {
  font-family: "Muli", sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  margin: 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem 0;
}
