.navbar{
    background: $navBack;
    height: $navHeight;
    font-size: 1.25rem;
    color: $navColor;
    display: flex;
    justify-content: space-between;

    &__cellsTypes{
        display: flex;
        padding-right: 1rem;
        label{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0.25rem;
            height: $navHeight;
            font-size: 1rem;
            border-right: 1px dotted rgb(107, 107, 107);
            &:first-of-type{
                border-left: 1px dotted rgb(107, 107, 107);
            }   
            cursor: pointer;
            &:hover{
                transition: color ease .3s;
                color: $highlight;
                background: lighten($color: $navBack, $amount: 3);
            }
            &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4){
                &::after{
                    content: '';
                    width: $cellWidth;
                    height: $cellHeight;
                    margin-left: 0.5rem;
                    border: 1px solid #fff;
                }
            }
            &:nth-of-type(1){
                &::after{
                    background: $cellWallColor;
                }
            }
            &:nth-of-type(2){
                &::after{
                    background: $cellStartColor;
                }
            }
            &:nth-of-type(3){
                &::after{
                    background: $cellCheckpointColor;
                }
            }
            &:nth-of-type(4){
                &::after{
                    background: $cellEndColor;
                }
            }
            &~:checked{
                color: $highlight;
            }
        }
        input{
            display: none;
            &:checked + label{
                color: $highlight;
            }
        }
    }

    &__items{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        li{
            a{
                display: flex; // TODO : c'est pas centré verticallement
                width: max-content;
                height: $navHeight;
                align-items: center;
                justify-content: center;
                padding: 0 1rem;

                &:hover{
                    transition: color ease .3s;
                    color: $highlight;
                    background: lighten($color: $navBack, $amount: 3);
                }
            }
            button{
                background: $highlight;
                padding: 1rem;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 600;
                color: white;
                height: 85%;
                scale: 1;
                cursor: pointer;
                margin-left: 1rem;
                &:hover{
                    scale: 1.05;
                    transition: scale ease .3s;
                }
            }
        }

        & #item0{
            font-size: 1.75rem;
            font-weight: bold;
            padding-right: 0.5rem;
        }

        & #item3{
            span{
                margin-left: 0.5rem;
            }
        }
    }
}