.sideMenu{
    position: absolute;
    top: $navHeight;
    left: 0;
    width: $sideMenuWidth;
    background: $sideMenuBack;
    height: calc(100vh - $footerHeight - $navHeight);
    border-right: 1px solid rgb(212, 212, 212);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
    transition: all ease .3s;

    &__toggle{
        position: absolute;
        top: 50%;
        right: -1.48rem;
        transform: translateY(-50%);
        height: 3rem;
        background-color: $sideMenuBack;
        border: 1px solid rgb(212, 212, 212);
        border-radius: 0 5px 5px 0;
 
        font-weight: bold;
        font-size: 1rem;
        color: rgb(158, 158, 158);
        
        &:hover{
            background-color: $boardHover;
            color: white;
            cursor: pointer;
        }

        &--rotated{
            transform: translateY(-50%) rotate(180deg);
            border-radius: 5px 0 0 5px;
        }
    }
    
    h2{
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1rem;
        margin: 0;
        border-bottom: 1px solid rgb(212, 212, 212);
    }

    &__legend{
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        margin: 0 1rem;
        gap: 1rem;
        width: 90%;
        li{
            display: flex;
            gap: 1rem;
            font-size: 1.25rem;
            font-weight: bold;
            &>span:first-of-type{
                min-width: 1.5rem;
                height: 1.5rem;
                border: 1px solid rgb(212, 212, 212);
                border-radius: 5px;
            }
            span:last-of-type{
                font-size: 1rem;
                font-weight: normal;
            }
            div{
                display: flex;
                flex-direction: column;
                span:last-of-type{
                    font-size: 0.75rem;
                    font-weight: normal;
                    color: rgb(158, 158, 158);
                    margin-top: 0.5rem;
                }
            }
        }
    }
}

.sideMenu--hidden{
    width: 0;
    border-right: none;
    & *:not(button){
        display: none;
    }
}
